In [4]:
import pandas as pd
import numpy as np

data = pd.read_csv('/Users/samy/Downloads/CSV-29/Python 3 CSV/CAPM_Exercise_Data.csv', index_col='Date')
data

                 MSFT        ^GSPC
Date
2012-01-03  23.031868  1277.060059
2012-01-04  23.573898  1277.300049
2012-01-05  23.814798  1281.060059
2012-01-06  24.184755  1277.810059
2012-01-09  23.866419  1280.699951
...               ...          ...
2016-12-23  62.500671  2263.790039
2016-12-27  62.540195  2268.879883
2016-12-28  62.253590  2249.919922
2016-12-29  62.164646  2249.260010
2016-12-30  61.413525  2238.830078

[1258 rows x 2 columns]

In [8]:
# calculating the beta of MSFT stock in the SP500 

log_returns = np.log(data/data.shift(1))
log_returns

                MSFT     ^GSPC
Date
2012-01-03       NaN       NaN
2012-01-04  0.023261  0.000188
2012-01-05  0.010167  0.002939
2012-01-06  0.015415 -0.002540
2012-01-09 -0.013250  0.002259
...              ...       ...
2016-12-23 -0.004890  0.001251
2016-12-27  0.000632  0.002246
2016-12-28 -0.004593 -0.008392
2016-12-29 -0.001430 -0.000293
2016-12-30 -0.012156 -0.004648

[1258 rows x 2 columns]

In [12]:
covariance = log_returns.cov() * 250
covariance

           MSFT     ^GSPC
MSFT   0.053781  0.018208
^GSPC  0.018208  0.016361

In [28]:
beta = 0.018208/(0.016361)
beta

1.1128904101216306

In [30]:
# this means MSFT stock is a risky asset

In [36]:
# Assuming a risk-free rate of 2.5% in terms of US govt bonds and a risk premium of 5%
# We will estimate the expected return of Microsoft

stock_expected_return = 0.025 + beta* 0.05
stock_expected_return

0.08064452050608154

In [45]:
# Calculating the Sharpe ratio
sharpe_ratio = (stock_expected_return - 0.025)/ np.sqrt(0.053781)
sharpe_ratio

0.23994293551710055